BOT_TOKEN=...
SUPERADMIN_IDS=[...]
PROXY_URL="socks5://user:password@host:port" # Proxy URL for connecting to Telegram. Input empty string for no proxy.


# Database
DB_USER=user
DB_PASSWORD=password
DB_NAME=database
DB_HOST=db
DB_PORT=5432
